<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title%}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    {% block head %}{% endblock %}
</head>
<body>
<div class="buttons">
  {% if "username" in session %}
    <a class="error" href="{{ url_for('refresh') }}">Force Reload (last sync: {{ last_sync }})</a>
    <a href="{{ url_for('logout') }}">{{ session["username"] }}: Log out</a>
  {% else %}
    <a class="success" href="{{ url_for('login') }}">Log in</a>
  {% endif %}
</div>
  {% block body %}{% endblock %}
</body>
</html>
