{% extends "base.html" %}
{% block title %}Distribution{% endblock %}
{% block body %}
<!--[if IE]>
    <h1>Unsupported shit browser! Please use Chrome, Firefox or Safari</h1>
<![endif]-->
<!--[if !IE]><!-->
<br>
<br>
      <ul class="tabs">
          <li>
              <input type="radio" checked name="tabs" id="tab-web">
              <label for="tab-web">Web</label>
              <div id="tab-content-web" class="tab-content animated fadeIn">
                {{ webpane }}
              </div>
          </li>
          {% for pane in panes %}
          <li>
              <input type="radio" name="tabs" id="tab-{{ pane.href }}">
              <label for="tab-{{ pane.href }}">{{ pane.name }}</label>
              <div id="tab-content-{{ pane.href }}" class="tab-content animated fadeIn">
                {{ pane.content }}
              </div>
          </li>
          {% endfor %}
          <li>
              <input type="radio" name="tabs" id="tab-other">
              <label for="tab-other">Other</label>
              <div id="tab-content-other" class="tab-content animated fadeIn">
                {{ otherpane }}
              </div>
          </li>
      </ul>
<!--<![endif]-->
{% endblock %}